@model AdvancedC_Final.Models.Ticket

@{
    ViewData["Title"] = "Ticket Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ticket Details</h2>

<dl class="row">
    <dt class="col-sm-2">
        Title:
    </dt>
    <dd class="col-sm-10">
        @Model.Title
    </dd>
    <dt class ="col-sm-2">
        Priority:
    </dt>
    <dd class="col-sm-10">
        @Model.Priority
    </dd>
    <dt class="col-sm-2">
        Required Hours:
    </dt>
    <dd class="col-sm-10">
        <form asp-action="UpdateTicketHours" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="number" asp-for="RequiredHours" min="0" max="999" />
            <button type="submit">Set new Required Hours</button>
        </form>
    </dd>
    <dt class="col-sm-2">
        Completed:
    </dt>
    <dd class="col-sm-10">
        <form asp-action="UpdateTicketIsCompleted" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="checkbox" asp-for="IsCompleted" onchange="this.form.submit()"/>
            <label asp-for="IsCompleted">@Model.IsCompleted</label>
        </form>
    </dd>
</dl>
<div>
    <h4>Developers in Ticket</h4>
    <table>
        <thead>
            <tr>
                <th>Developer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DeveloperTicket developer in Model.Developers)
            {
                <tr>
                    <td>@developer.User.UserName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="AddDevTicket" asp-controller="Manager" asp-route-id="@Model?.Id">Add a Developer</a> |
    <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model?.ProjectId">Back to Project</a> 
    @if (User.IsInRole("Project Manager"))
    {
        <text>
            | <a asp-action="EditTicket" asp-controller="Projects" asp-route-id="@Model?.Id">Edit</a>
        </text>
    }
</div>